.sequry-auth-keyfile-registration label {
    width: 100% !important;
}

.sequry-auth-keyfile-registration-generate {
    margin-bottom: 20px;
}

.sequry-auth-keyfile-registration-generate,
.sequry-auth-keyfile-registration-upload {
    float: left;
    width: 100%;
}